[submodule "gakumasu-diff/orig"]
	path = gakumasu-diff/orig
	url = https://github.com/vertesan/gakumasu-diff.git
[submodule "GakumasPreTranslation"]
	path = GakumasPreTranslation
	url = https://github.com/imas-tools/GakumasPreTranslation.git
